<body>
  

      <style type="text/css">body{font-family:'Raleway',Helvetica,Arial,sans-serif;font-weight:400;background-color:rgba(0,0,0,0.02);}.button{font-family:'Raleway',Helvetica,Arial,sans-serif;}.button-group li{padding-top:3%;}.button-group a{color:rgba(0,0,0,1);background-color:transparent;}.button-group a:hover{color:rgba(0,0,0,0.4);background-color:transparent;}.button-group{float:none;}@media only screen and (min-width: 40.063em) {.button-group{float:right;}}.namelogo{padding:20px 10px 0px 10px;}@media only screen and (min-width: 40.063em) {.namelogo{padding-bottom:20px;}}.namelogo h1{font-size:1.5em;font-weight:600;text-align:center;}@media only screen and (min-width: 40.063em) {.namelogo h1{font-size:16px;text-align:left;}}@media only screen and (min-width: 64.063em) {.namelogo h1{font-size:24px;text-align:left;}}.hero{background:url(http://placehold.it/900x800);background-size:cover;box-shadow:inset 0px 0px 0 2000px rgba(150,255,0,0.5);height:45%;}.intro-text{padding-top:40%;color:rgba(255,255,255,1);text-align:center;}@media only screen and (min-width: 40.063em) {.intro-text{padding-top:25%;}}@media only screen and (min-width: 64.063em) {.intro-text{padding-top:18%;}}.intro-text p{font-family:'Shadows Into Light',cursive;font-size:44px;}.about,.work,.contact{padding:50px 0 0 0;}.about img{width:250px;height:250px;border-radius:150px;-webkit-border-radius:150px;-moz-border-radius:150px;}.work /*img:hover{opacity:0.5;-webkit-transition:0.3s ease;-moz-transition:0.3s ease;-ms-transition:0.3s ease;-o-transition:0.3s ease;transition:0.3s ease;}.work*/ li{height:140px;overflow:hidden;}hr{border:0;height:1px;background-image:-webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));background-image:-ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0));opacity:0.8;}footer{padding:80px 0 10px 0;}footer a:hover{color:rgba(0,0,0,0.4);background-color:transparent;}</style>

       
     <!--  <div class="row">
        <div class="small-12 medium-4 large-6 columns namelogo">
            <h1>Paul Aglione</h1>
            <h5>Front End Web Developer</h5>
        </div>
        <div class="small-12 medium-8 large-6 columns">
          <div class="nav-bar">
            <ul class="button-group">
            <li><a href="#" class="button">About</a></li>
            <li><a href="#" class="button">Projects</a></li>
            <li><a href="#" class="button">Contact</a></li>
            </ul>
          </div>
        </div>
      </div> -->
        
      <div class="hero">
      <%#= image_tag("")  %>
        <div class="row">
          <div class="large-12 columns intro-text">
            <h1>Paul Aglione<br><br></h1> 
            <h5>Front End Developer.</h5>
          </div>
        </div>
      </div>

      <div class="row about">
        <div class="medium-6 large-8 columns">
          <h2>About</h2>
          <h4>  I am a results oriented Front End Developer with an eye for design and the ability to complete projects on time and within budget. I've managed teams up to 100 in the fast paced world of TV Production. I aim to break through the challenges that lie ahead, grow into a solid developer, and create applications that help people everyday.</h4>
        </div>
        <div class="medium-6 large-4 columns">
          <%= image_tag("headshot") %>
        </div>
      </div>

      <div class="row work">
        <hr>
        <div class="large-12 columns">
          <h2>My Projects</h2>
          <h4>Click on each image to view my projects!</h4> <br>

          <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4">
            
            <li> 
             <a href="https://crcafe.herokuapp.com/cafes" > <%= image_tag("crcafepic") %> </a>
            </li>
            
            <li>
              <a href="https://paulsproject2.herokuapp.com/"> <%= image_tag("fieldspic") %> </a>
            </li>
            
            <li>
              <a href="https://bustrackerapp.herokuapp.com/stops"> <%= image_tag("bustrackerpic") %> </a>
            </li>
            
            <li>
              <a href="https://paulstttapp.firebaseapp.com"> <%= image_tag("tennispic") %> </a>
            </li>
          
          </ul>
        </div>
      </div>

      <div class="row contact">
        <hr>
        <div class="large-12 columns">
          <h2>Contact Me</h2>
          <div class="large-4 columns">
            <h4><strong>Email</strong>: aglionep@gmail.com<!-- <a href=""><span class="__cf_email__" data-cfemail="09646c49647079667b7d6f66656066276a6664">[]</span><script cf-hash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a> -->
          </div>
          <div class="large-4 columns">
            <h4><strong>Profile</strong>: <a href="https://profiles.generalassemb.ly/profiles/paulaglione"> Click Here! </a> </h4>
          </div>
          <div class="large-4 columns">
            <h4><strong>Phone</strong>: 310 - 848 - 4148 </h4>
          </div>
        </div>
      </div>

      <footer class="row">
        <div class="large-12 columns">
          <div class="row">
            <div class="large-6 columns">
              <h6>© Fat Garlic Design</h6>
            </div>
            <div class="large-6 columns">
              
            </div>
          </div>
        </div>
      </footer>
      
       
      <script src="js/foundation/foundation.clearing.js"></script>
    


</body>


<!-- <p id="notice"><%= notice %></p>

<h1>Listing Homepages</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @homepages.each do |homepage| %>
      <tr>
        <td><%#= link_to 'Show', homepage %></td>
        <td><%#= link_to 'Edit', edit_homepage_path(homepage) %></td>
        <td><%#= link_to 'Destroy', homepage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Homepage', new_homepage_path %> -->
